<a href="https://colab.research.google.com/github/kaykaushal/spatial_ds_airpoluttion/blob/main/non_spatial_data_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NASA Air Quality Challenge: NO2 Prediction

## Data Collection

### Binary Files Load

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from pathlib import Path
import random
from typing import Dict, List, Union

from cloudpathlib import S3Path, S3Client
import geopandas as gpd
import pandas as pd

In [ ]:
!pip install geopandas #cloudpathlib #,

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 5.6 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 33.7 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.1.post1)
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 251 kB/s
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [ ]:
# Training data with geo location 
train_df = pd.read_csv('/content/drive/MyDrive/Driven_Data/NASA-NO2/Data/location_train_data.csv', index_col=0)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36131 entries, 0 to 36130
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  36131 non-null  object
 1   grid_id   36131 non-null  object
 2   value     36131 non-null  float64
 3   location  36131 non-null  object
 4   tz        36131 non-null  object
 5   wkt       36131 non-null  object
dtypes: float64(1), object(5)
memory usage: 1.9+ MB

In [ ]:
train_df.head()

               datetime  ...                                                wkt
0  2019-01-01T08:00:00Z  ...  POLYGON ((-117.8889090614936 34.13085940091023...
1  2019-01-01T08:00:00Z  ...  POLYGON ((-117.9338248256995 33.79558357488509...
2  2019-01-01T08:00:00Z  ...  POLYGON ((-118.0236563541115 33.98201108613195...
3  2019-01-01T08:00:00Z  ...  POLYGON ((-118.4278982319653 34.01924766510738...
4  2019-01-01T08:00:00Z  ...  POLYGON ((-117.3948356552278 33.98201108613195...

[5 rows x 6 columns]

In [ ]:
#metdata for satellite file
no2_satellite_md = pd.read_csv('/content/drive/MyDrive/Driven_Data/NASA-NO2/Data/no2_satellite_metadata_0AF3h09.csv')
no2_satellite_md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5013 entries, 0 to 5012
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   granule_id    5013 non-null   object
 1   time_start    5013 non-null   object
 2   time_end      5013 non-null   object
 3   product       5013 non-null   object
 4   location      5013 non-null   object
 5   split         5013 non-null   object
 6   us_url        5013 non-null   object
 7   eu_url        5013 non-null   object
 8   as_url        5013 non-null   object
 9   cksum         5013 non-null   int64
 10  granule_size  5013 non-null   int64
dtypes: int64(2), object(9)
memory usage: 430.9+ KB

In [ ]:
no2_satellite_md.head()

                        granule_id  ... granule_size
0  20190101T213357_tropomi_la_0.nc  ...    332149977
1  20190102T211456_tropomi_la_0.nc  ...    334150299
2  20190103T205556_tropomi_la_0.nc  ...    334661071
3  20190104T203656_tropomi_la_0.nc  ...    337713636
4  20190105T201756_tropomi_la_0.nc  ...    333323724

[5 rows x 11 columns]

In [ ]:
no2_satellite_md['product'].value_counts()

tropomi_hires    2750
tropomi          1193
omi              1070
Name: product, dtype: int64

In [ ]:
no2_satellite_md['location'].value_counts()

la           1461
dl           1262
tpe          1220
dl-la-tpe    1070
Name: location, dtype: int64

In [ ]:
no2_satellite_md['split'].value_counts()

train    3156
test     1857
Name: split, dtype: int64

In [ ]:
omi_mdf = no2_satellite_md[no2_satellite_md['product'] == 'omi']
omi_mdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1070 entries, 3943 to 5012
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   granule_id    1070 non-null   object
 1   time_start    1070 non-null   object
 2   time_end      1070 non-null   object
 3   product       1070 non-null   object
 4   location      1070 non-null   object
 5   split         1070 non-null   object
 6   us_url        1070 non-null   object
 7   eu_url        1070 non-null   object
 8   as_url        1070 non-null   object
 9   cksum         1070 non-null   int64
 10  granule_size  1070 non-null   int64
dtypes: int64(2), object(9)
memory usage: 100.3+ KB

In [ ]:
omi_mdf.head()

                               granule_id  ... granule_size
3943  20190101T235959_omi_dl-la-tpe_0.he5  ...     11127998
3944  20190102T235959_omi_dl-la-tpe_0.he5  ...     11169726
3945  20190103T235959_omi_dl-la-tpe_0.he5  ...     10937679
3946  20190104T235959_omi_dl-la-tpe_0.he5  ...     11141005
3947  20190105T235959_omi_dl-la-tpe_0.he5  ...     10819793

[5 rows x 11 columns]

In [ ]:
omi_mdf.split.value_counts()

train    671
test     399
Name: split, dtype: int64

In [ ]:
tropomi_mdf = no2_satellite_md[no2_satellite_md['product'] == 'tropomi']
tropomi_mdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1193 entries, 0 to 1192
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   granule_id    1193 non-null   object
 1   time_start    1193 non-null   object
 2   time_end      1193 non-null   object
 3   product       1193 non-null   object
 4   location      1193 non-null   object
 5   split         1193 non-null   object
 6   us_url        1193 non-null   object
 7   eu_url        1193 non-null   object
 8   as_url        1193 non-null   object
 9   cksum         1193 non-null   int64
 10  granule_size  1193 non-null   int64
dtypes: int64(2), object(9)
memory usage: 111.8+ KB

In [ ]:
tropomi_mdf.head()

                        granule_id  ... granule_size
0  20190101T213357_tropomi_la_0.nc  ...    332149977
1  20190102T211456_tropomi_la_0.nc  ...    334150299
2  20190103T205556_tropomi_la_0.nc  ...    334661071
3  20190104T203656_tropomi_la_0.nc  ...    337713636
4  20190105T201756_tropomi_la_0.nc  ...    333323724

[5 rows x 11 columns]

In [ ]:
hires_mdf = no2_satellite_md[no2_satellite_md['product'] == 'tropomi_hires']
hires_mdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2750 entries, 1193 to 3942
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   granule_id    2750 non-null   object
 1   time_start    2750 non-null   object
 2   time_end      2750 non-null   object
 3   product       2750 non-null   object
 4   location      2750 non-null   object
 5   split         2750 non-null   object
 6   us_url        2750 non-null   object
 7   eu_url        2750 non-null   object
 8   as_url        2750 non-null   object
 9   cksum         2750 non-null   int64
 10  granule_size  2750 non-null   int64
dtypes: int64(2), object(9)
memory usage: 257.8+ KB

In [ ]:
hires_mdf.head()

                                 granule_id  ... granule_size
1193  20190806T203500_tropomi_hires_la_0.nc  ...    458238869
1194  20190806T221629_tropomi_hires_la_0.nc  ...    451625521
1195  20190807T201554_tropomi_hires_la_0.nc  ...    456171857
1196  20190807T215723_tropomi_hires_la_0.nc  ...    452744421
1197  20190808T213817_tropomi_hires_la_0.nc  ...    453115772

[5 rows x 11 columns]

### Satellite data download

In [ ]:
!pip install cloudpathlib[s3]

Requirement already satisfied: cloudpathlib[s3] in /usr/local/lib/python3.7/dist-packages (0.7.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from cloudpathlib[s3]) (4.11.2)
Collecting boto3
  Downloading boto3-1.21.13-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 9.0 MB/s
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting botocore<1.25.0,>=1.24.13
  Downloading botocore-1.24.13-py3-none-any.whl (8.6 MB)
     |████████████████████████████████| 8.6 MB 62.5 MB/s
Collecting s3transfer<0.6.0,>=0.5.0
  Downloading s3transfer-0.5.2-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 6.9 MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.25.0,>=1.24.13->boto3->cloudpathlib[s3]) (2.8.2)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.8-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 69.4 MB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.25.0,>=1.24.13->boto3->cloudpathlib[s3]) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->cloudpathlib[s3]) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->cloudpathlib[s3]) (3.10.0.2)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.8 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed boto3-1.21.13 botocore-1.24.13 jmespath-0.10.0 s3transfer-0.5.2 urllib3-1.26.8

In [ ]:
from cloudpathlib import S3Path, S3Client
s3_cli = S3Client(no_sign_request=True)

/usr/local/lib/python3.7/dist-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.8) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [ ]:
# Download satellite data for tropomi
tropomi_path = S3Path("s3://drivendata-competition-airathon-public-as/no2/train/tropomi/2019/", client=s3_cli)
tropomi_files = list(tropomi_path.rglob("*.nc"))

In [ ]:
fn = tropomi_files[0].fspath

In [ ]:
import netCDF4 as nc

In [ ]:
ds = nc.Dataset(fn)

In [ ]:
ds

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: CF-1.7
    institution: KNMI
    source: Sentinel 5 precursor, TROPOMI, space-borne remote sensing, L2
    summary: TROPOMI/S5P NO2 1-Orbit L2 Swath 7x3.5km
    tracking_id: 26a7dcde-bd7b-4f7d-b469-01cef40b796a
    id: S5P_OFFL_L2__NO2____20190101T031859_20190101T050029_06310_01_010202_20190107T050224
    time_reference: 2019-01-01T00:00:00Z
    time_reference_days_since_1950: 25202
    time_reference_julian_day: 2458484.5
    time_reference_seconds_since_1970: 1546300800
    time_coverage_start: 2019-01-01T03:40:34Z
    time_coverage_end: 2019-01-01T04:38:57Z
    time_coverage_duration: PT3503.000S
    time_coverage_resolution: PT1.080S
    orbit: 6310
    references: http://www.tropomi.eu/data-products/nitrogen-dioxide
    processor_version: 1.2.2
    keywords_vocabulary: AGU index terms, http://publications.agu.org/author-resource-center/index-terms/
    keywords: 0345 Pollution, Urban and Regional; 0365 Troposphere, Composition and Chemistry; 0368 Troposphere, Constituent Transport and Chemistry; 3360 Remote Sensing; 3363 Stratospheric Dynamics
    standard_name_vocabulary: NetCDF Climate and Forecast Metadata Conventions Standard Name Table (v29, 08 July 2015), http://cfconventions.org/standard-names.html
    naming_authority: nl.knmi
    cdm_data_type: Swath
    date_created: 2019-01-07T05:02:29Z
    creator_name: The Sentinel 5 Precursor TROPOMI Level 2 products are developed with funding from the European Space Agency (ESA), the Netherlands Space Office (NSO), the Belgian Science Policy Office, the German Aerospace Center (DLR) and the Bayerisches Staatsministerium für Wirtschaft und Medien, Energie und Technologie (StMWi).
    creator_url: http://www.tropomi.eu
    creator_email: EOSupport@Copernicus.esa.int
    project: Sentinel 5 precursor/TROPOMI
    geospatial_lat_min: -89.96032
    geospatial_lat_max: 81.83386
    geospatial_lon_min: 179.99995
    geospatial_lon_max: -179.99985
    license: No conditions apply
    platform: S5P
    sensor: TROPOMI
    spatial_resolution: 7x3.5km2
    cpp_compiler_version: g++ (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11)
    cpp_compiler_flags: -g -O2 -fPIC -std=c++11 -W -Wall -Wno-ignored-qualifiers -Wno-write-strings -Wno-unused-variable -DTROPNLL2DP
    f90_compiler_version: GNU Fortran (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11)
    f90_compiler_flags: -gdwarf-3 -O2 -fPIC -cpp -ffpe-trap=invalid -fno-range-check -frecursive -fimplicit-none -ffree-line-length-none -DTROPNLL2DP -Wuninitialized -Wtabs
    build_date: 2018-11-15T14:05:00Z
    revision_control_identifier: 780c4fda8438
    geolocation_grid_from_band: 4
    identifier_product_doi: 10.5270/S5P-s4ljg54
    identifier_product_doi_authority: http://dx.doi.org/
    algorithm_version: 1.0.0
    title: TROPOMI/S5P NO2 1-Orbit L2 Swath 7x3.5km
    product_version: 1.0.0
    Status_MET_2D: Nominal
    Status_NISE__: Nominal
    Status_CTMFCT: Nominal
    history: 2019-01-07 05:11:35 f_s5pops tropnll2dp /mnt/data1/storage_offl_l2/cache_offl_l2/WORKING-565116750/JobOrder.565116707.xml; 2019-01-13 12:47:14 TM5-MP-DOMINO offline
    processing_status: OFFL-processing nominal product
    date_modified: 2019-01-13T12:47:14Z
    dimensions(sizes):
    variables(dimensions):
    groups: PRODUCT, METADATA

In [ ]:
ds.groups

{'METADATA': <class 'netCDF4._netCDF4.Group'>
 group /METADATA:
     dimensions(sizes):
     variables(dimensions):
     groups: QA_STATISTICS, ALGORITHM_SETTINGS, GRANULE_DESCRIPTION, ISO_METADATA, EOP_METADATA, ESA_METADATA,
 'PRODUCT': <class 'netCDF4._netCDF4.Group'>
 group /PRODUCT:
     dimensions(sizes): scanline(3245), ground_pixel(450), corner(4), time(1), polynomial_exponents(6), intensity_offset_polynomial_exponents(1), layer(34), vertices(2)
     variables(dimensions): int32 scanline(scanline), int32 ground_pixel(ground_pixel), int32 time(time), int32 corner(corner), int32 polynomial_exponents(polynomial_exponents), int32 intensity_offset_polynomial_exponents(intensity_offset_polynomial_exponents), int32 layer(layer), int32 vertices(vertices), float32 latitude(time, scanline, ground_pixel), float32 longitude(time, scanline, ground_pixel), int32 delta_time(time, scanline), <class 'str'> time_utc(time, scanline), uint8 qa_value(time, scanline, ground_pixel), float32 nitrogendioxide_tropospheric_column(time, scanline, ground_pixel), float32 nitrogendioxide_tropospheric_column_precision(time, scanline, ground_pixel), float32 nitrogendioxide_tropospheric_column_precision_kernel(time, scanline, ground_pixel), float32 averaging_kernel(time, scanline, ground_pixel, layer), float32 air_mass_factor_troposphere(time, scanline, ground_pixel), float32 air_mass_factor_total(time, scanline, ground_pixel), int32 tm5_tropopause_layer_index(time, scanline, ground_pixel), float32 tm5_constant_a(layer, vertices), float32 tm5_constant_b(layer, vertices)
     groups: SUPPORT_DATA}

In [ ]:
print(ds.groups['PRODUCT'])

<class 'netCDF4._netCDF4.Group'>
group /PRODUCT:
    dimensions(sizes): scanline(3245), ground_pixel(450), corner(4), time(1), polynomial_exponents(6), intensity_offset_polynomial_exponents(1), layer(34), vertices(2)
    variables(dimensions): int32 scanline(scanline), int32 ground_pixel(ground_pixel), int32 time(time), int32 corner(corner), int32 polynomial_exponents(polynomial_exponents), int32 intensity_offset_polynomial_exponents(intensity_offset_polynomial_exponents), int32 layer(layer), int32 vertices(vertices), float32 latitude(time, scanline, ground_pixel), float32 longitude(time, scanline, ground_pixel), int32 delta_time(time, scanline), <class 'str'> time_utc(time, scanline), uint8 qa_value(time, scanline, ground_pixel), float32 nitrogendioxide_tropospheric_column(time, scanline, ground_pixel), float32 nitrogendioxide_tropospheric_column_precision(time, scanline, ground_pixel), float32 nitrogendioxide_tropospheric_column_precision_kernel(time, scanline, ground_pixel), float32 averaging_kernel(time, scanline, ground_pixel, layer), float32 air_mass_factor_troposphere(time, scanline, ground_pixel), float32 air_mass_factor_total(time, scanline, ground_pixel), int32 tm5_tropopause_layer_index(time, scanline, ground_pixel), float32 tm5_constant_a(layer, vertices), float32 tm5_constant_b(layer, vertices)
    groups: SUPPORT_DATA

In [ ]:
print (ds.groups['PRODUCT'].variables.keys())

dict_keys(['scanline', 'ground_pixel', 'time', 'corner', 'polynomial_exponents', 'intensity_offset_polynomial_exponents', 'layer', 'vertices', 'latitude', 'longitude', 'delta_time', 'time_utc', 'qa_value', 'nitrogendioxide_tropospheric_column', 'nitrogendioxide_tropospheric_column_precision', 'nitrogendioxide_tropospheric_column_precision_kernel', 'averaging_kernel', 'air_mass_factor_troposphere', 'air_mass_factor_total', 'tm5_tropopause_layer_index', 'tm5_constant_a', 'tm5_constant_b'])

In [ ]:
ds.groups['PRODUCT'].variables['nitrogendioxide_tropospheric_column_precision']

<class 'netCDF4._netCDF4.Variable'>
float32 nitrogendioxide_tropospheric_column_precision(time, scanline, ground_pixel)
    units: mol m-2
    standard_name: troposphere_mole_content_of_nitrogen_dioxide standard_error
    long_name: Precision of the tropospheric vertical column of nitrogen dioxide
    coordinates: longitude latitude
    multiplication_factor_to_convert_to_molecules_percm2: 6.022141e+19
    _FillValue: 9.96921e+36
path = /PRODUCT
unlimited dimensions:
current shape = (1, 3245, 450)
filling on

In [ ]:
ds.groups['PRODUCT'].variables['longitude'][:][0,:,:][:]

masked_array(
  data=[[-23.17912 , -23.329996, -23.478865, ..., -61.985943, -62.083332,
         -62.18185 ],
        [-23.177786, -23.328894, -23.47799 , ..., -62.035797, -62.13324 ,
         -62.231804],
        [-23.176464, -23.327803, -23.477125, ..., -62.08585 , -62.183342,
         -62.281956],
        ...,
        [ 66.476326,  66.53377 ,  66.59082 , ..., 153.98888 , 154.43105 ,
         154.87555 ],
        [ 66.323326,  66.38029 ,  66.43686 , ..., 154.11232 , 154.55661 ,
         155.00322 ],
        [ 66.16991 ,  66.22638 ,  66.28247 , ..., 154.23701 , 154.68346 ,
         155.13217 ]],
  mask=False,
  fill_value=1e+20,
  dtype=float32)

In [ ]:
no2 = ds.groups['PRODUCT'].variables['nitrogendioxide_tropospheric_column_precision'][0,:,:]

In [ ]:
no2

masked_array(
  data=[[--, --, --, ..., --, --, --],
        [--, --, --, ..., --, --, --],
        [--, --, --, ..., --, --, --],
        ...,
        [--, --, --, ..., --, --, --],
        [--, --, --, ..., --, --, --],
        [--, --, --, ..., --, --, --]],
  mask=[[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True]],
  fill_value=9.96921e+36,
  dtype=float32)

In [ ]:
omi_mdf['as_url'].iloc[0]

NameError: ignored

In [ ]:
omi_path = S3Path("s3://drivendata-competition-airathon-public-as/no2/train/omi/2019/", client=s3_cli)
omi_files = list(omi_path.rglob("*.he5"))

In [ ]:
omi_files[0]

In [ ]:
omi_fn = omi_files[0].fspath

In [ ]:
omi_fn

In [ ]:
! pip install rioxarray

In [ ]:
import h5py
import xarray as xr
import rioxarray as rxr

In [ ]:
omi_pre = rxr.open_rasterio(omi_fn, masked=True)

In [ ]:
omi_pre

In [ ]:
omi_pre_qa = omi_pre[0]
omi_pre_qa

In [ ]:
type(omi_pre)